
.activitiProductComboList {
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	padding: 10px;
}

.activitiProductComboListSelected {
	background-color: #D3E1F1;
}

.activitiProductComboListOverItem {
	background-color: #E7E7E7;
}

.testContent {
	background-image:url(images/table.png);
}